body {
  font-family: 'Compagnon-Roman', sans-serif;
}

h1, h2 {
  font-family: 'Compagnon-Medium', sans-serif;
  font-size: clamp(22px, 4 vw, 36 px); 
}

h2 {
  font-size: clamp(22px, 3 vw, 30 px); 
}

body {
  background-color: #FF3333;
  background-image: linear-gradient(180deg, #FFDD7C, #FF3333); 
  background-repeat: no-repeat;
  min-height: 95vh;
  padding: 0 2rem;
  margin: 0;
  font-size: clamp(18px, 2vw, 24px);  
}

/* Taille des fontes */


.intro {
  margin: 2rem 0;
}

/* Bloc Support */

.support {
  border: 1px solid black;
  background-color: rgba(0,0,0,0.2);
  padding: 1rem;
}

.support a {
  color: white;
  text-decoration: none;
}

.grille {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}